##### Imports

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as connection
from sklearn.linear_model import LinearRegression

##### Start the Cleaning process

In [30]:
cleansc_df = pd.read_csv("steel_coasters.csv", index_col= "Rank")
cleansc_df.head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Steel,Fury 325,Carowinds,"Charlotte, North Carolina",B&M,2015
2,2022,Steel,Steel Vengeance,Cedar Point,"Sandusky, Ohio",Rocky Mountain Const.,2018
3,2022,Steel,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000
4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,"Tampa, Florida",Rocky Mountain Const.,2022
5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,"Orlando, Florida",Intamin,2021

In [31]:
cleansc_nonull_df = cleansc_df.dropna()
cleansc_nonull_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 605 entries, 1 to 50
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_Rank    605 non-null    object
 1   Award_Category  605 non-null    object
 2   Name            605 non-null    object
 3   Park            605 non-null    object
 4   Location        605 non-null    object
 5   Supplier        605 non-null    object
 6   Year_Built      605 non-null    object
dtypes: object(7)
memory usage: 37.8+ KB

In [32]:
cleansc_nonull_df.duplicated()

Rank
1     False
2     False
3     False
4     False
5     False
      ...
46    False
47    False
48    False
48    False
50    False
Length: 605, dtype: bool

In [33]:
cleansc_nonull_df.to_csv("clean_sc.csv", encoding= "utf-8")

In [34]:
cleanwc_df = pd.read_csv("wood_coasters.csv", index_col= "Rank")
cleanwc_df.head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Wooden,Phoenix,Knoebels Amusement Resort,"Elysburg, Pennsylvania",Dinn-PTC/Shmeck,1985
2,2022,Wooden,Voyage,Holiday World,"Santa Claus, Indiana",The Gravity Group,2006
3,2022,Wooden,El Toro,Six Flags Great Adventure,"Jackson, New Jersey",Intamin,2006
4,2022,Wooden,Boulder Dash,Lake Compounce,"Bristol, Connecticut",Custom Coasters Int.,2000
5,2022,Wooden,Beast,Kings Island,"Mason, Ohio",KECO,1979

In [35]:
cleanwc_nonull_df = cleanwc_df.dropna()
cleanwc_nonull_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 605 entries, 1 to 50
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_Rank    605 non-null    object
 1   Award_Category  605 non-null    object
 2   Name            605 non-null    object
 3   Park            605 non-null    object
 4   Location        605 non-null    object
 5   Supplier        605 non-null    object
 6   Year_Built      605 non-null    object
dtypes: object(7)
memory usage: 37.8+ KB

In [36]:
cleanwc_nonull_df.duplicated()

Rank
1     False
2     False
3     False
4     False
5     False
      ...
46    False
47    False
47    False
49    False
50    False
Length: 605, dtype: bool

In [37]:
cleanwc_nonull_df.to_csv("clean_wc.csv", encoding= "utf-8")

#### Use MySQL Connector to establish a connection to my remote data source

In [47]:
newdb = connection.connect(host="devcodecamp-mysql.c5p7yvjq1h8y.us-east-2.rds.amazonaws.com", database="rollercoasterdb", user="root", 
		password="D3v$tudent", use_pure=True)

coasterquery = "SELECT * FROM coaster_metrics"
coasterquery_other = "SELECT * FROM park_locations"



coasterdf = pd.read_sql_query(coasterquery, newdb, index_col= "Coaster_ID")
coasterdf.head()

C:\Users\Callr\AppData\Local\Temp\ipykernel_17248\711316223.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  coasterdf = pd.read_sql_query(coasterquery, newdb, index_col= "Coaster_ID")

,Name,material_type,seating_type,speed,height,length,num_inversions,manufacturer,Park,status
Coaster_ID,,,,,,,,,,
1,Afterburn,Steel,Inverted,100.0,34.0,900.0,6.0,B&M,Carowinds,status.operating
2,Alpengeist,Steel,Inverted,108.0,60.0,NaN,6.0,B&M,Busch Gardens Williamsburg,status.operating
3,American Thunder,Wooden,Sit Down,77.0,25.0,827.0,0.0,GCI,Six Flags St. Louis,status.operating
4,Apocalypse,Wooden,Sit Down,89.0,31.0,869.0,0.0,GCI,Six Flags Magic Mountain,status.closed.temporarily
5,Apollo's Chariot,Steel,Sit Down,118.0,52.0,1488.0,0.0,B&M,Busch Gardens Williamsburg,status.operating

In [50]:
coasterqueryjoin = "SELECT * FROM coaster_metrics INNER JOIN park_locations ON coaster_metrics.Park= park_locations.Park"

coaster_df = pd.read_sql(coasterqueryjoin, newdb)

coaster_df

C:\Users\Callr\AppData\Local\Temp\ipykernel_17248\2663506574.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  coaster_df = pd.read_sql(coasterqueryjoin, newdb)

,Coaster_ID,Name,material_type,seating_type,speed,height,length,num_inversions,manufacturer,Park,status,Park_ID,City,State,Country,Zip_Code
0,1,Afterburn,Steel,Inverted,100.0,34.0,900.0,6.0,B&M,Carowinds,status.operating,9,Charlotte,North Carolina,United States,28273
1,2,Alpengeist,Steel,Inverted,108.0,60.0,NaN,6.0,B&M,Busch Gardens Williamsburg,status.operating,6,Williamsburg,Virginia,United States,23185
2,3,American Thunder,Wooden,Sit Down,77.0,25.0,827.0,0.0,GCI,Six Flags St. Louis,status.operating,14,Eureka,Missouri,United States,63025
3,4,Apocalypse,Wooden,Sit Down,89.0,31.0,869.0,0.0,GCI,Six Flags Magic Mountain,status.closed.temporarily,22,Valencia,California,United States,91355
4,5,Apollo's Chariot,Steel,Sit Down,118.0,52.0,1488.0,0.0,B&M,Busch Gardens Williamsburg,status.operating,6,Williamsburg,Virginia,United States,23185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,266,X2,Steel,4th Dimension,122.0,53.0,1100.0,6.0,Arrow,Six Flags Magic Mountain,status.operating,22,Valencia,California,United States,91355
206,268,X-Flight,Steel,Wing,90.0,37.0,915.0,5.0,B&M,Six Flags Great America,status.operating,11,Gurnee,Illinois,United States,60031
207,270,Yukon Striker,Steel,Sit Down,130.0,75.0,1105.0,4.0,B&M,Canada's Wonderland,status.operating,15,Vaughan,Ontario,Canada,L6A 1S6
208,271,Zadra,Hybrid,Sit Down,115.0,63.0,1300.0,3.0,RMC,Energylandia,status.construction,80,Zator,Lesser Poland,Poland,32-640
209,272,Zippin Pippin,Wooden,Sit Down,68.0,21.0,715.0,NaN,Gravity Group,Bay Beach Amusement Park,status.operating,18,Green Bay,Wisconsin,United States,54302

In [51]:
coaster_df.info()
coaster_df.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Coaster_ID      210 non-null    int64
 1   Name            210 non-null    object
 2   material_type   210 non-null    object
 3   seating_type    210 non-null    object
 4   speed           196 non-null    float64
 5   height          204 non-null    float64
 6   length          201 non-null    float64
 7   num_inversions  208 non-null    float64
 8   manufacturer    210 non-null    object
 9   Park            210 non-null    object
 10  status          210 non-null    object
 11  Park_ID         210 non-null    int64
 12  City            210 non-null    object
 13  State           210 non-null    object
 14  Country         210 non-null    object
 15  Zip_Code        210 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 26.4+ KB

0      False
1      False
2      False
3      False
4      False
       ...
205    False
206    False
207    False
208    False
209    False
Length: 210, dtype: bool

In [52]:
coaster_df.to_csv("coaster.csv", encoding= "utf-8")