##### Imports

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as connection
from sklearn.linear_model import LinearRegression

##### Start the Cleaning process

In [30]:
cleansc_df = pd.read_csv("steel_coasters.csv", index_col= "Rank")
cleansc_df.head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Steel,Fury 325,Carowinds,"Charlotte, North Carolina",B&M,2015
2,2022,Steel,Steel Vengeance,Cedar Point,"Sandusky, Ohio",Rocky Mountain Const.,2018
3,2022,Steel,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000
4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,"Tampa, Florida",Rocky Mountain Const.,2022
5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,"Orlando, Florida",Intamin,2021

In [31]:
cleansc_nonull_df = cleansc_df.dropna()
cleansc_nonull_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 605 entries, 1 to 50
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_Rank    605 non-null    object
 1   Award_Category  605 non-null    object
 2   Name            605 non-null    object
 3   Park            605 non-null    object
 4   Location        605 non-null    object
 5   Supplier        605 non-null    object
 6   Year_Built      605 non-null    object
dtypes: object(7)
memory usage: 37.8+ KB

In [32]:
cleansc_nonull_df.duplicated()

Rank
1     False
2     False
3     False
4     False
5     False
      ...
46    False
47    False
48    False
48    False
50    False
Length: 605, dtype: bool

In [33]:
cleansc_nonull_df.to_csv("clean_sc.csv", encoding= "utf-8")

In [34]:
cleanwc_df = pd.read_csv("wood_coasters.csv", index_col= "Rank")
cleanwc_df.head()

,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
Rank,,,,,,,
1,2022,Wooden,Phoenix,Knoebels Amusement Resort,"Elysburg, Pennsylvania",Dinn-PTC/Shmeck,1985
2,2022,Wooden,Voyage,Holiday World,"Santa Claus, Indiana",The Gravity Group,2006
3,2022,Wooden,El Toro,Six Flags Great Adventure,"Jackson, New Jersey",Intamin,2006
4,2022,Wooden,Boulder Dash,Lake Compounce,"Bristol, Connecticut",Custom Coasters Int.,2000
5,2022,Wooden,Beast,Kings Island,"Mason, Ohio",KECO,1979

In [35]:
cleanwc_nonull_df = cleanwc_df.dropna()
cleanwc_nonull_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 605 entries, 1 to 50
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_Rank    605 non-null    object
 1   Award_Category  605 non-null    object
 2   Name            605 non-null    object
 3   Park            605 non-null    object
 4   Location        605 non-null    object
 5   Supplier        605 non-null    object
 6   Year_Built      605 non-null    object
dtypes: object(7)
memory usage: 37.8+ KB

In [36]:
cleanwc_nonull_df.duplicated()

Rank
1     False
2     False
3     False
4     False
5     False
      ...
46    False
47    False
47    False
49    False
50    False
Length: 605, dtype: bool

In [37]:
cleanwc_nonull_df.to_csv("clean_wc.csv", encoding= "utf-8")